<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" charset="utf-8"></script>
  <script src="/scripts/script.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
</head>
<body>
    <h1>Welcome! <%# user.username %></h1>
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>

  <a href="/home">New Search</a>
  <h1>USER HISTORY</h1>
  <hr>
  <% for (let i = 0; i < savedFlights.length; i++) { %>
    <div class="historyDisplayContainer">
      <div class="userInfoHistory">
        <p>Origin: <%= savedFlights[i].origin %></p>
        Destination: <%= savedFlights[i].destination %><br>
        Departure: <%= savedFlights[i].departure_date %><br>
        Return: <%= savedFlights[i].return_date %><br>
        Price: $<%= savedFlights[i].price %><br>
        Reminders: <%= savedFlights[i].reminders %><br>
        <input type="submit" class="editButton<%= i %> allEditButtons" value="EDIT REMINDER">
        <form class="delete-flight" action="/history/<%= savedFlights[i]._id %>?_method=DELETE" method="POST">
          <input type="submit" class="allDeleteButtons" value="DELETE TRIP">
        </form>
      </div>
      <form class="editHistory" action="/history/<%= savedFlights[i]._id %>?_method=PUT" method="POST">
        <div class="updateBox<%= i %> allUpdateBoxes">
          <label class="editLabel<%= i %> allEditLabels"> Edit Reminder:<br>
            <input type="text" class="reminderBox<%= i %> allReminderBoxes" name="edit[reminders]">
          </label></p>
          <input type="submit" class="updateButton<%= i %> allUpdateButtons" value="UPDATE">
        </div>
      </form>
    </div>
  <% } %>
</body>
</html>
