<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ASAP Flight</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" charset="utf-8"></script>
  <script src="/scripts/script.js" type="text/javascript"></script>
</head>
<body>
  <h1>Flight Search Results</h1>
  <h2>Flights leaving from: <%= origin %></h2>
  <div id="flightBoard">
    <div class="flightSearchContainer">
      <% for (let i = 0; i < 5; i++) { %>
        <div class="flightBox">
          <p class="eachDest">Destination: <%= flights[i].destination %></p>
          <input type="submit" id="displayInfoButton<%= i %>" class="displayInfoButton" value="See Details">
        </div>
      <% } %>
    </div>
    <div class="flightDisplayContainer">
      <% for (let i = 0; i < 5; i++) { %>
        <div class="selectedBox" id="selectedBox0">
          <form class="saveFlight" action="/search/save" method="POST">
            <p class="selectedFlight" id="selectedFlight0">Destination: <%= flights[i].destination %><br>
            Departure: <%= flights[i].departure_date %><br>
            Return: <%= flights[i].return_date %><br>
            Price: $<%= flights[i].price %></p><br>
            <label> Reminders/Comments:
              <input type="text" name="reminders">
            </label>
            <input type="hidden" name="trips[origin]" value="<%= origin %>">
            <input type="hidden" name="trips[destination]" value="<%= flights[i].destination %>">
            <input type="hidden" name="trips[departure_date]" value="<%= flights[i].departure_date %>">
            <input type="hidden" name="trips[return]" value="<%= flights[i].return_date %>">
            <input type="hidden" name="trips[price]" value="<%= flights[i].price %>">
            <input type="submit" id="saveButton<%= i %>" class="saveButton" value="SAVE">
          </form>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>
