<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ASAP Flight</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Flight Search Results</h1>
  <h2>Flights leaving from: <%= origin %></h2>
    <% for (let i = 0; i < flights.length; i++) { %>
      <p>Destination: <%= flights[i].destination %><br>
      Departure: <%= flights[i].departure_date %><br>
      Return: <%= flights[i].return_date %><br>
      Price: <%= flights[i].price %><br>
      <input type="submit" value="Select"></p>
    <% } %>
</body>
</html>
